<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleRegularPolygon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8869084E1F7465FA0041E466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>886908671F7465FA0041E466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>886908721F7465FA0041E466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
